edxml-schema-3.0.0.rng

<!--

               RelaxNG schema of the EDXML stream format
                   Part of the EDXML specification

                              edxml.org

                            version 3.0.0

                Copyright 2009 - 2017 by D.H.J. Takken
                      (d.h.j.takken@xs4all.nl)

           This file is licensed under the Creative Commons
               Attribution-NoDerivs 3.0 Unported License.
                 To view a copy of this license, visit

        http://creativecommons.org/licenses/by-nd/3.0/legalcode

-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="edxml" ns="http://edxml.org/edxml">
      <attribute name="version">
        <data type="token">
          <param name="pattern">3.0.[0-9]+</param>
        </data>
      </attribute>
      <zeroOrMore>
        <ref name="ontology-node"></ref>
        <ref name="eventgroups-node"></ref>
      </zeroOrMore>
    </element>
  </start>
  <define name="event-node">
    <element name="event" ns="http://edxml.org/edxml">
      <ref name="foreign-attributes"></ref>
      <optional>
        <attribute name="parents">
          <data type="normalizedString">
            <param name="pattern">([0-9a-f]{40})(,[0-9a-f]{40})*</param>
          </data>
        </attribute>
      </optional>
      <element name="properties">
        <oneOrMore>
          <element>
            <anyName/>
            <text/>
          </element>
        </oneOrMore>
      </element>
      <optional>
        <element name="content">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="ontology-node">
    <element name="ontology" ns="http://edxml.org/edxml">
      <optional>
        <element name="objecttypes">
          <zeroOrMore>
            <element name="objecttype">
              <attribute name="version">
                <data type="unsignedInt">
                  <param name="minInclusive">1</param>
                </data>
              </attribute>
              <attribute name="data-type">
                <choice>
                  <value type="string">number:tinyint</value>
                  <value type="string">number:tinyint:signed</value>
                  <value type="string">number:smallint</value>
                  <value type="string">number:smallint:signed</value>
                  <value type="string">number:mediumint</value>
                  <value type="string">number:mediumint:signed</value>
                  <value type="string">number:int</value>
                  <value type="string">number:int:signed</value>
                  <value type="string">number:bigint</value>
                  <value type="string">number:bigint:signed</value>
                  <value type="string">number:float</value>
                  <value type="string">number:float:signed</value>
                  <value type="string">number:double</value>
                  <value type="string">number:double:signed</value>
                  <value type="string">geo:point</value>
                  <value type="string">hashlink</value>
                  <value type="string">ip</value>
                  <value type="string">datetime</value>
                  <value type="string">sequence</value>
                  <value type="string">uuid</value>
                  <value type="string">boolean</value>
                  <data type="token">
                    <param name="pattern">enum:.*</param>
                  </data>
                  <data type="token">
                    <param name="pattern">number:decimal:[0-9]+:[0-9]+</param>
                  </data>
                  <data type="token">
                    <param name="pattern">number:decimal:[0-9]+:[0-9]+:signed</param>
                  </data>
                  <data type="token">
                    <param name="pattern">hex:[0-9]+(:[0-9]+:.)?</param>
                  </data>
                  <data type="token">
                    <param name="pattern">string:[0-9]+:((cs)|(ci))(:[ru]+)?</param>
                  </data>
                  <data type="token">
                    <param name="pattern">uri:.</param>
                  </data>
                  <data type="token">
                    <param name="pattern">base64:[0-9]+</param>
                  </data>
                </choice>
              </attribute>
              <attribute name="name">
                <data type="token">
                  <param name="minLength">1</param>
                  <param name="maxLength">64</param>
                  <param name="pattern">[a-z0-9.-]*</param>
                </data>
              </attribute>
              <attribute name="display-name">
                <data type="string">
                  <param name="minLength">3</param>
                  <param name="maxLength">64</param>
                  <param name="pattern">[ a-zA-Z0-9]+/[ a-zA-Z0-9]+</param>
                </data>
              </attribute>
              <attribute name="description">
                <data type="string">
                  <param name="minLength">1</param>
                  <param name="maxLength">128</param>
                </data>
              </attribute>
              <optional>
                <attribute name="fuzzy-matching">
                  <data type="token">
                    <param name="pattern">(none)|(phonetic)|(substring:.*)|(\[[0-9]{1,2}:\])|(\[:[0-9]{1,2}\])</param>
                  </data>
                </attribute>
              </optional>
              <optional>
                <attribute name="compress">
                  <choice>
                    <value type="string">true</value>
                    <value type="string">false</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="regexp">
                  <data type="string">
                    <param name="minLength">1</param>
                    <param name="maxLength">128</param>
                  </data>
                </attribute>
              </optional>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="concepts">
          <zeroOrMore>
            <element name="concept">
              <attribute name="version">
                <data type="unsignedInt">
                  <param name="minInclusive">1</param>
                </data>
              </attribute>
              <attribute name="name">
                <data type="token">
                  <param name="minLength">1</param>
                  <param name="maxLength">64</param>
                  <param name="pattern">[a-z0-9.-]*</param>
                </data>
              </attribute>
              <attribute name="display-name">
                <data type="string">
                  <param name="minLength">3</param>
                  <param name="maxLength">64</param>
                  <param name="pattern">[ a-zA-Z0-9]+/[ a-zA-Z0-9]+</param>
                </data>
              </attribute>
              <attribute name="description">
                <data type="string">
                  <param name="minLength">1</param>
                  <param name="maxLength">128</param>
                </data>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="eventtypes">
          <zeroOrMore>
            <element name="eventtype">
              <attribute name="version">
                <data type="unsignedInt">
                  <param name="minInclusive">1</param>
                </data>
              </attribute>
              <attribute name="name">
                <data type="token">
                  <param name="minLength">1</param>
                  <param name="maxLength">64</param>
                  <param name="pattern">[a-z0-9.-]*</param>
                </data>
              </attribute>
              <attribute name="display-name">
                <data type="string">
                  <param name="minLength">3</param>
                  <param name="maxLength">64</param>
                  <param name="pattern">[ a-zA-Z0-9]+/[ a-zA-Z0-9]+</param>
                </data>
              </attribute>
              <attribute name="description">
                <data type="string">
                  <param name="minLength">1</param>
                  <param name="maxLength">128</param>
                </data>
              </attribute>
              <optional>
                <attribute name="classlist">
                  <data type="string">
                    <param name="minLength">1</param>
                    <param name="pattern">[a-z0-9, ]*</param>
                  </data>
                </attribute>
              </optional>
              <attribute name="summary">
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </attribute>
              <attribute name="story">
                <data type="string">
                  <param name="minLength">1</param>
                </data>
              </attribute>
              <optional>
                <attribute name="timespan-start">
                  <data type="token">
                    <param name="minLength">1</param>
                    <param name="maxLength">64</param>
                    <param name="pattern">[a-z0-9-]*</param>
                  </data>
                </attribute>
              </optional>
              <optional>
                <attribute name="timespan-end">
                  <data type="token">
                    <param name="minLength">1</param>
                    <param name="maxLength">64</param>
                    <param name="pattern">[a-z0-9-]*</param>
                  </data>
                </attribute>
              </optional>
              <optional>
                <element name="parent">
                  <attribute name="eventtype">
                    <data type="token">
                      <param name="minLength">1</param>
                      <param name="maxLength">64</param>
                      <param name="pattern">[a-z0-9.-]*</param>
                    </data>
                  </attribute>
                  <attribute name="propertymap">
                    <data type="string">
                      <param name="pattern">[a-z0-9-]{1,64}:[a-z0-9-]{1,64}(,[a-z0-9-]{1,64}:[a-z0-9-]{1,64})*</param>
                    </data>
                  </attribute>
                  <attribute name="parent-description">
                    <data type="string">
                      <param name="minLength">1</param>
                      <param name="maxLength">128</param>
                    </data>
                  </attribute>
                  <attribute name="siblings-description">
                    <data type="string">
                      <param name="minLength">1</param>
                      <param name="maxLength">128</param>
                    </data>
                  </attribute>
                </element>
              </optional>
              <element name="properties">
                <oneOrMore>
                  <element name="property">
                    <attribute name="object-type">
                      <data type="token">
                        <param name="minLength">1</param>
                        <param name="maxLength">64</param>
                        <param name="pattern">[a-z0-9.-]*</param>
                      </data>
                    </attribute>
                    <attribute name="optional">
                      <choice>
                        <value type="string">true</value>
                        <value type="string">false</value>
                      </choice>
                    </attribute>
                    <attribute name="multivalued">
                      <choice>
                        <value type="string">true</value>
                        <value type="string">false</value>
                      </choice>
                    </attribute>
                    <attribute name="name">
                      <data type="token">
                        <param name="minLength">1</param>
                        <param name="maxLength">64</param>
                        <param name="pattern">[a-z0-9-]*</param>
                      </data>
                    </attribute>
                    <attribute name="description">
                      <data type="normalizedString">
                        <param name="minLength">1</param>
                        <param name="maxLength">128</param>
                      </data>
                    </attribute>
                    <optional>
                      <attribute name="similar">
                        <data type="normalizedString">
                          <param name="maxLength">64</param>
                        </data>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="unique">
                        <choice>
                          <value type="string">true</value>
                          <value type="string">false</value>
                        </choice>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="merge">
                        <choice>
                          <value type="string">drop</value>
                          <value type="string">add</value>
                          <value type="string">replace</value>
                          <value type="string">min</value>
                          <value type="string">max</value>
                          <value type="string">match</value>
                        </choice>
                      </attribute>
                    </optional>
                    <zeroOrMore>
                      <element name="property-concept">
                        <attribute name="name">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9.-]*</param>
                          </data>
                        </attribute>
                        <attribute name="confidence">
                          <data type="unsignedByte">
                            <param name="minInclusive">0</param>
                            <param name="maxInclusive">10</param>
                          </data>
                        </attribute>
                        <attribute name="cnp">
                          <data type="unsignedByte"/>
                        </attribute>
                      </element>
                    </zeroOrMore>
                  </element>
                </oneOrMore>
              </element>
              <optional>
                <element name="relations">
                  <zeroOrMore>
                    <choice>
                      <element name="inter">
                        <attribute name="property1">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9-]*</param>
                          </data>
                        </attribute>
                        <attribute name="property2">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9-]*</param>
                          </data>
                        </attribute>
                        <attribute name="concept1">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9.-]*</param>
                          </data>
                        </attribute>
                        <attribute name="concept2">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9.-]*</param>
                          </data>
                        </attribute>
                        <optional>
                          <attribute name="directed">
                            <choice>
                              <value type="string">true</value>
                              <value type="string">false</value>
                            </choice>
                          </attribute>
                        </optional>
                        <attribute name="description">
                          <data type="normalizedString">
                            <param name="minLength">1</param>
                            <param name="maxLength">255</param>
                          </data>
                        </attribute>
                        <attribute name="predicate">
                          <data type="normalizedString">
                            <param name="maxLength">32</param>
                          </data>
                        </attribute>
                        <attribute name="confidence">
                          <data type="unsignedByte">
                            <param name="minInclusive">1</param>
                            <param name="maxInclusive">10</param>
                          </data>
                        </attribute>
                      </element>
                      <element name="intra">
                        <attribute name="property1">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9-]*</param>
                          </data>
                        </attribute>
                        <attribute name="property2">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9-]*</param>
                          </data>
                        </attribute>
                        <attribute name="concept1">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9.-]*</param>
                          </data>
                        </attribute>
                        <attribute name="concept2">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9.-]*</param>
                          </data>
                        </attribute>
                        <optional>
                          <attribute name="directed">
                            <choice>
                              <value type="string">true</value>
                              <value type="string">false</value>
                            </choice>
                          </attribute>
                        </optional>
                        <attribute name="description">
                          <data type="normalizedString">
                            <param name="minLength">1</param>
                            <param name="maxLength">255</param>
                          </data>
                        </attribute>
                        <attribute name="predicate">
                          <data type="normalizedString">
                            <param name="maxLength">32</param>
                          </data>
                        </attribute>
                        <attribute name="confidence">
                          <data type="unsignedByte">
                            <param name="minInclusive">1</param>
                            <param name="maxInclusive">10</param>
                          </data>
                        </attribute>
                      </element>
                      <element name="other">
                        <attribute name="property1">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9-]*</param>
                          </data>
                        </attribute>
                        <attribute name="property2">
                          <data type="token">
                            <param name="minLength">1</param>
                            <param name="maxLength">64</param>
                            <param name="pattern">[a-z0-9-]*</param>
                          </data>
                        </attribute>
                        <optional>
                          <attribute name="directed">
                            <choice>
                              <value type="string">true</value>
                              <value type="string">false</value>
                            </choice>
                          </attribute>
                        </optional>
                        <attribute name="description">
                          <data type="normalizedString">
                            <param name="minLength">1</param>
                            <param name="maxLength">255</param>
                          </data>
                        </attribute>
                        <attribute name="predicate">
                          <data type="normalizedString">
                            <param name="maxLength">32</param>
                          </data>
                        </attribute>
                        <attribute name="confidence">
                          <data type="unsignedByte">
                            <param name="minInclusive">1</param>
                            <param name="maxInclusive">10</param>
                          </data>
                        </attribute>
                      </element>
                    </choice>
                  </zeroOrMore>
                </element>
              </optional>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <zeroOrMore>
        <element name="sources">
          <zeroOrMore>
            <element name="source">
              <attribute name="version">
                <data type="unsignedInt">
                  <param name="minInclusive">1</param>
                </data>
              </attribute>
              <attribute name="uri">
                <data type="token">
                  <param name="minLength">1</param>
                  <param name="pattern">(/[a-z0-9-]+)*/</param>
                </data>
              </attribute>
              <attribute name="description">
                <data type="normalizedString">
                  <param name="minLength">1</param>
                  <param name="maxLength">128</param>
                </data>
              </attribute>
              <attribute name="date-acquired">
                <data type="normalizedString">
                  <param name="maxLength">8</param>
                  <param name="pattern">[0-9]{8}</param>
                </data>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="eventgroups-node">
    <element name="eventgroups" ns="http://edxml.org/edxml">
      <zeroOrMore>
        <element name="eventgroup">
          <attribute name="event-type">
            <data type="token">
              <param name="minLength">1</param>
              <param name="maxLength">64</param>
              <param name="pattern">[a-z0-9.-]*</param>
            </data>
          </attribute>
          <attribute name="source-uri">
            <data type="token">
              <param name="minLength">1</param>
              <param name="pattern">(/[a-z0-9-]+)*/</param>
            </data>
          </attribute>
          <zeroOrMore>
            <choice>
              <ref name="foreign-node"></ref>
              <ref name="event-node"></ref>
            </choice>
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="anything">
    <zeroOrMore>
      <choice>
        <element>
          <anyName/>
          <ref name="anything"/>
        </element>
        <attribute>
          <anyName/>
        </attribute>
        <text/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="foreign-elements">
    <zeroOrMore>
      <element>
        <anyName>
          <except>
            <nsName ns=""/>
            <nsName ns="http://edxml.org/edxml"/>
          </except>
        </anyName>
        <ref name="anything"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="foreign-attributes">
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName ns=""/>
            <nsName ns="http://edxml.org/edxml"/>
          </except>
        </anyName>
      </attribute>
    </zeroOrMore>
  </define>
  <define name="foreign-node">
    <choice>
      <ref name="foreign-attributes"/>
      <ref name="foreign-elements"/>
    </choice>
  </define>
</grammar>
